<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lilgobguides</title>
    <link rel="stylesheet" href="~/css/bootstrap-custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lilgobguides.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trix@2.1.15/dist/trix.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body class="site-background">
    <header class="bg-transparent">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">lilgobguides</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-sm-none">
                            <a class="nav-link text-light" asp-area="" asp-page="/Posts/Skilling">Skilling</a>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link text-light" asp-area="" asp-page="/Posts/Minigames">Minigames</a>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link text-light" asp-area="" asp-page="/Posts/Items">Items</a>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link text-light" asp-area="" asp-page="/Posts/Bosses">Bosses</a>
                        </li>
                    </ul>

                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="d-flex flex-row">
        <div class="bg-transparent px-4 d-none d-sm-block text-end">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Posts/Skilling">Skilling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Posts/Minigames">Minigames</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Posts/Items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Posts/Bosses">Bosses</a>
                </li>
                
            </ul>
        </div>
        <div class="box-shadow flex-grow-1 p-4 container border-start border-top border-bottom bg-black" data-bs-theme="dark">
            @RenderBody()
        </div>
    </main>

    <footer class="box-shadow text-muted p-4 text-light" data-bs-theme="dark">
        <div class="d-flex justify-content-between align-items-center container">
            <span>&copy; 2025 - lilgobguides</span>
       
            <img src="/images/wolf.png" width="25px" height="25px" alt="awooo!" title="awooo!" /> 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/trix-upload.js" defer></script>
    @* <script src="~/js/trix-config.js" defer></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>