@page
@model lilgobguides.Pages.Posts.EditPostModel

@{
    ViewData["Title"] = "Edit post";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
  <partial name="_PostForm" for="Post" />
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">Update post</button>
  </div>
</form>
