@page
@using lilgobguides.Models
@model lilgobguides.Pages.Posts.MinigamesModel
@{
    ViewData["Title"] = "Minigames";
}

<h1 class="mb-4">
    @ViewData["Title"]
</h1>

<div class="d-flex flex-wrap column-gap-3 row-gap-3 justify-content-start">
@foreach (Post post in Model.Posts)
{
    <partial name="_PostCard" model="post" />
}
</div>
