@page
@model lilgobguides.Pages.Posts.NewPostModel
@{
    ViewData["Title"] = "New post";
}

<div class="container py-4">
  <h1>@ViewData["Title"]</h1>

  <form method="post">
    @await Html.PartialAsync("_PostForm", Model.Post)
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Create post</button>
    </div>
    
  </form>

  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
