@page
@using lilgobguides.Models
@model lilgobguides.Pages.Posts.SkillingModel
@{
    ViewData["Title"] = "Skilling guides";
}

<h1 class="mb-4">
    Skilling Guides
</h1>

<div class="d-flex" data-bs-theme="dark">
@foreach (Post post in Model.Posts)
{
    <partial name="_PostCard" model="post" />
}
</div>
