html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  height: 100%;
}

header, footer {
  flex-shrink: 0;
}

span {
  line-height: 1;
  vertical-align: middle;
}

/* Customizing Bootstrap */
:root {
  --bs-body-bg: #000000f5;
  --bs-body-color: #ffffff;
}

/* Customizing Trix */

.trix-button  {
  background-color: #ffffff !important;
}

.morytania-background {
  background-image: url('/images/morytania-background.png');
  background-size: color;
  background-position: center;
}

.outside-legends-guild-background {
  background-image: url('/images/outside-legends-guild.png');
  background-size: color;
  background-position: center;
}

a:hover {
  text-decoration: underline dotted;
}