@page
@{
    ViewData["Title"] = "About";
}

<div>
    <figure class="figure float-end" style="max-width: 16rem">
        <img src="/images/stamping.png" class="figure-img img-fluid rounded" />
        <figcaption class="text-center figure-caption">
            Me, <a href="https://wiseoldman.net/players/goblilslayer">goblilslayer</a>, creator of lil gob slayer guides
        </figcaption>
    </figure>

    <h1>About lil gob slayer guides</h1>

    <p>
        Hello, I am goblilslayer... I play Old School Runescape as an Ultimate Iron (without banking or trading). This website is a curated collection of notes on tactics that have worked for me in this game mode 
    </p>

</div>
