@page
@using lilgobguides.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>lil gob slayer guides</h1>

    <p class="fs-4">Old School Runescape guides for Ultimate Irons...</p>
</div>

<div class="d-flex justify-content-around align-items-start flex-wrap column-gap-3 row-gap-5">
    @foreach (Post post in Model.Featured)
    {
        <partial name="Posts/_PostCard" model="post" />
    }
</div>
