@page
@using lilgobguides.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lil Gob Slayer Guides</h1>
    <p>Follow these Old School Runescape Ultimate Iron guides at your own peril - goblilslayer.</p>
    <a href="/posts/create">Create post</a>

    <ul class="list-group">
    @foreach (Post post in Model.Posts)
    {
        <li class="list-group-item">
            <a asp-page="/Posts/Details" asp-route-id="@post.Id">
                @post.Title
            </a>
        </li>
    }
    </ul>
</div>
