@page
@using lilgobguides.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>lil gob slayer guides</h1>

<p class="blockquote">Old School Runescape guides for Ultimate Irons...</p>


<div class="d-flex flex-wrap column-gap-3 row-gap-3" data-bs-theme="dark">
@foreach (Post post in Model.Featured)
{
    <partial name="Posts/_PostCard" model="post" />
}
</div>
