@page
@using lilgobguides.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>lil gob slayer guides</h1>

<figure>
    <blockquote class="blockquote">
    <p>Follow my Old School Runescape Ultimate Iron guides at your own peril...</p>
    </blockquote>
    <figcaption class="blockquote-footer">
    goblilslayer
    </figcaption>
</figure>

<div class="d-flex flex-wrap column-gap-3 row-gap-3" data-bs-theme="dark">
@foreach (Post post in Model.Featured)
{
    <partial name="Posts/_PostCard" model="post" />
}
</div>
