@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lil Gob Slayer Guides</h1>
    <p>Follow these Old School Runescape Ultimate Iron guides at your own peril - goblilslayer.</p>
</div>
