@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lil gob guides does not collect any info on you and any cookies saved in your computer are due to the web framework used to develop this site (ASP.NET Core).</p>
